<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appenders>
		<File name="A1" fileName="report-generator.log" append="false">
			<PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n" />
		</File>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n" />
		</Console>
	</appenders>
	<loggers>
		<root level="debug">
			<appender-ref ref="STDOUT" />
			<appender-ref ref="A1" />
		</root>
	</loggers>
</configuration>



